{{#extend "bank-layout"}}
  {{#content "emailTitle"}}
      Notification de transactions
  {{/content}}

  {{#content "emailSubtitle"}}
    {{ date }}
  {{/content}}

  {{#content "content"}}
    {{#each byAccounts as |transactionsByDate accountId| }}
      <mj-section css-class="account" padding-top="0" padding-bottom="10px">
        <mj-column>
          <mj-text padding-top="0" padding-bottom="0">
            <h3>{{ get ../accounts accountId 'label' }} - {{ get ../accounts accountId 'institutionLabel' }}</h3>
          </mj-text>
          {{#each transactionsByDate as |transactions date|}}
            <mj-text padding-top="0" padding-bottom="0">
              <h4 class="text"><span>{{ formatDate date }}</span></h4>
            </mj-text>
            {{#each transactions as |tr|}}
              <mj-table>
                <tr class="tableRow">
                  <td width="40px"><img style="width: 32px; height: 32px" src='https://files.cozycloud.cc/bank/email-assets/icons/{{ this.categoryId }}.png' /></td>
                  <td>{{ capitalize this.label }}</td>
                  <td width="150px" align='right'><span>{{ colored this.amount }}</span></td>
                </tr>
              </mj-table>
              {{#unless @last}}<mj-divider padding-bottom="0" padding-top="0" border-width="1px" border-color="#D0D2D5" />{{/unless}}
            {{/each}}
          {{/each }}
        </mj-text>
        </mj-column>
      </mj-section>
    {{/each}}
  {{/content}}
{{/extend}}
